/*general*/

.currentlink{
    text-decoration:none;
    background-color: yellow;
    height: 20px;
    font-weight:bold;
    color: black;
}

.notcurrentlink{
    color: black;
    text-decoration:none;

}
.clickablelink{
    color: black;
    text-decoration:none;
    text-decoration:underline; 

}

.clickablelink:hover{
    font-weight:bold;
}


.link {
    text-transform: uppercase; 
    font-size: 20;
    text-align:center;
}

hr {
    border: none;
    height: 6px;
    color: black; 
    background-color:black; 
    width: 100%;
  }

#subheader {
    font-size:x-large;
    text-align:center;
    width: 60%;
}

.productprice{
    font-weight: bold; 
    display:inline-block;
}

#productbutton{
    background-color: yellow;
    font-weight:bold;
    border: black 1px solid;
    padding: 13px 20px;
}

#cartbutton{
    background-color: yellow;
    font-weight:bold;
    border: black 1px solid;
    padding: 4px 20px;
}

.notification {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 3px;

    background:red;
    color:white;
    text-align: center;
    font-size:medium;

    position:absolute;
    top:60px;
    right:30px;
  }

/*header*/
#navigation{
    justify-content:flex-end;
    flex-direction:row; 
    gap:30px;
    display:flex;
    padding-top:50px;
    padding-right:50px;
    width: 100%;
}

.nav{
    display: flex;
}

.logoheader{
    flex-direction:row;
    display:flex;
    width: 40%;
}
.nav-links{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#logo{
    justify-content:flex-start;
    /* display:flex */
}

/*gallery*/ 

.productgallery{
    margin-left:100px;
    margin-right:100px; 
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:center;
    gap:50px;
    display: flex;
    text-align:center;

}

.productname { 
    text-decoration: underline;
    color: black
}

#productphoto {
    border: black 3px solid;
    margin-top: 30px;
}


#productdescription {
    text-align:left;
    width:300px;
    margin:auto;
    color:black;
}

.productitem:hover {
    width:300px; 
    background-color: yellow;
}

/* Product Detail */ 

#productdetailphoto {
    border: black 3px solid;
}

.dropdown{
    text-align:left;
    width:190px;
}

.productpurchase{
    text-align:left;
    flex-direction:row; 
    gap: 20px;
    display:flex; 
    padding-top:190px;
    font-weight: bold; 
}

label {
    text-align:left;
    margin-right:10px;
}

#glazingdd {
    margin-bottom:30px;
    margin-top:15px;
    width:220px;
    height:35px;

}

#packsizedd {
    margin-top:15px;
    width:220px;
    height:35px;

}

.productdetail{
    flex-direction:row;
    justify-content:center;
    display:flex;
}

.detaildescription{
    flex-direction:column;
    align-content:flex-start;
    display:flex;
    padding-left:30px;
}

#detailsubtitle{
    padding-bottom:70px;
}

.dropdownoption{
    padding-bottom:100px;
    font-size:large;
}




/* shopping cart
*/

#cartprice{
    text-align:right;
    padding-top:100px;
    margin-left:70px;
}

#total{
    display:inline-block;
    padding-right:280px;
}

#cartpurchase{
    text-align:right;
    padding-right:300px;
}

.shoppingcart{
    text-align: center;
}

.remove{
    padding-left:500px;
    text-decoration: underline;
    font-size:larger;
    font-weight: bold;
}

.description{
    padding: 10px;
}

#line{
    background-color: black;
    height: 5px;
    width: 630px;
    margin-left:500px;
}

.product { 
    padding-left:500px;
    flex-direction:row;
    display: flex;
}

.cartdescription{
    text-align:left;
    padding-top:50px;
    padding-left:20px;
    line-height:2;
    width:280px;
    font-size:larger;

}


