/* general website css */

.navbar{
    text-align: center; 
}

#logo:hover{
    transform: rotate(10deg);
    animation-timing-function: ease-in-out;
    transition: all 0.2s;
}

.button{
    margin-top: 500px;
    border: 2px solid #00397c;
    background-color: #fffcf3;
    color: #00397c;
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 15px;
    cursor:pointer;
    transition: all 0.3s;

}

.button:hover {
    transform: translateY(-5px);
    color:white;
    background-color:#83B3C8;
}

.website{
    background-color:#fffcf3;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size:15px;
}
h1{
    font-size:15px;

}

/* quiz start page */ 
#introtext{
    text-align:center;
    color: #00397c;
    font-size: 25px;
    margin-top: 100px;

}

.storypic{
    display:flex;
    justify-content: center;
    margin-top:-30px;

}

.wave{
    position:absolute;
    margin-top:340px;
}

@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}
.fishingboat{
    position:absolute;
    animation-name: float;
    animation-duration:2.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite; 
}

.scenario{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

/* quiz story page */ 
.storytext{
    margin-top:50px;
    text-align:center;
    color:#00397c;
    font-size: 18px;
}

.pagebutton{
    margin-top:-250px;
    display:flex;
    flex-direction: row;
    gap:900px;
}

.homepic{
    margin-top:50px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.storypic{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.option{
    display:flex;
    flex-direction: row;
    position:absolute;
    margin-top:550px;
}
.optionitem:hover{
    transform: translateY(-5px);

}


/* result page */ 
.resulttraits{
    margin-top:-100px;
    display:flex;
    gap:20px;
    flex-direction: row;
}
.bubble{
        border-radius: 25px;
        background:#83B3C8;
        padding: 10px;
        width: 80px;
        height: 15px;
        color: white; 
        text-align:center;
}
.resultname{
    margin-top:-10px;
    font-size:25px;
    font-weight:bold;
}

#subtext{
    font-size:16px;
    color:#00397c;
}

.scenario{
    margin-top:50px;
}

.resultpic{
    margin-top:-70px;
    animation-name: float;
    animation-duration:2.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite; 
}

.resultdesc{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.resultdetail{
    display:flex;
    flex-direction:row;
    gap:20px;
    padding-top: 10px;
   
}

.outlinebubble{
    text-align:center;
    align-content:center;
    border-radius: 25px;
    border: 3px solid #83B3C8;
    padding: 20px;
    width: 180px;
    height: 150px;
}

#resultbutton{
    margin-top: -400px;
}

#compname{
    position:absolute;
    padding-top:20px;
    padding-left:32px;
}