/* general website css */
.container{
    text-align:center;
}

#logo:hover{
    transform: rotate(10deg);
    animation-timing-function: ease-in-out;
    transition: all 0.2s;
}

.website{
    background-color:#fffcf3;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size:20px;
}

h1{
    font-size:20px;

}

/*character floating animation*/

@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}

/*button specific*/ 

.button{
    margin-top: 500px;
    border: 2px solid #00397c;
    background-color: #fffcf3;
    color: #00397c;
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 15px;
    cursor:pointer;
    transition: all 0.3s;

}

.button:hover {
    transform: translateY(-5px);
    color:white;
    background-color:#83B3C8;
}

.button:focus {
    transform: translateY(-5px);
    color:white;
    background-color:#83B3C8;
}

.inactivebtn{
    margin-top: 500px;
    border: 2px solid #ffffff;
    background-color: #bcbbbb;
    color: #ffffff;
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 15px;
    cursor:pointer;
    transition: all 0.3s;
}

/* quiz start page */ 

#introtext{
    text-align:center;
    color: #00397c;
    font-size: 25px;
    margin-top: 70px;

}

#startbutton{
    margin-bottom:50px;
}

.storypic{
    display:flex;
    justify-content: center;
    margin-top:-30px;

}

.wave{
    position:absolute;
    margin-top:340px;
}

.fishingboat{
    position:absolute;
    animation-name: float;
    animation-duration:2.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite; 
}

.scenario{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

/* quiz story page */ 
.storytext{
    text-align:center;
    color:#00397c;
    font-size: 20px;
}

.pagebutton{
    padding-top:80px;
    margin-bottom: 50px;
}

.homepic{
    margin-top:50px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.storypic{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.option{
    display:flex;
    flex-direction: row;
    gap: 20px;
    position:absolute;
    margin-top:550px;
}

.optionitem{
    border-radius:20px;
    background-color: #fffcf3;

}

.optionitem:hover{
    transform: translateY(-5px);

}

.optionitem:focus{
    background-color: #83B3C8;
}


/* result page */ 
.resulttraits{
    margin-top:-100px;
}

.bubble{
    background:#83B3C8;
    padding: 10px;
    color:white;
    border-radius:25px;
         
}

.resultname{
    margin-top:-10px;
    font-size:25px;
    font-weight:bold;
}

#subtext{
    font-size:16px;
    color:#00397c;
}

.scenario{
    margin-top:50px;
}

.resultpic{
    margin-top:-70px;
    animation-name: float;
    animation-duration:2.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite; 
}

.resultdesc{
    display:flex;
    flex-direction:column;
}

.resultdetail{
    display:flex;
    flex-direction:row;
    gap:20px;
    padding-top: 30px;
   
}

.outlinebubble{
    text-align:center;
    border: 3px solid #83B3C8;
    padding: 30px;
    border-radius:25px;
}

#resultbutton{
    margin-top: -400px;
    margin-bottom: 50px;
}

#compname{
    position:absolute;
    padding-top:20px;
    padding-left:32px;
}

/* story page 3 */

.duckpier{
    position:absolute;
}

#duckboat{
    position:absolute;
    margin-top:340px;
}

#buttonformat{
    margin-top: -300px;
}

/*rotating circle animation*/
@keyframes rotate{
    from{transform:rotate(-360deg)};
    to{transform:rotate(360deg);}
}

.rotatingcirc{
    padding-top:80px;
    animation-name:rotate;
    animation-iteration-count:infinite;
    animation-duration:3s;
    animation-timing-function:linear;

}
